body{
    background-color: darkgrey;
}

table{
    background-color:cornsilk;
    width: 400px;
    height: 200px;
     z-index: 1;
     margin: auto;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    text-align: center;
}
th{
    border: 1px solid black;
    text-align: center;
}
h3{
    font-family: cursive;
    text-align: center;
    padding:5px;
}


h1{
  color: black;
  text-align: center;
}