nav{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-items: center;
    background-color:rgba(240, 204, 87, 0.685);
    color: black
}
h1{
    font-family: cursive;
    text-align: center;
    padding:5px;
}
flex-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    
}

.list li a{
    text-decoration: none;
    color: black;
    font-family: cursive;
    padding: 5px;
    font-weight: bolder;

}
body{
    height: 100hv;
    background-size: cover;
    background-position:left;
    margin: 0 auto;
}
img{
    background-size: contain;
    padding: 30px;
    height: 100vh;
}
a{
  position: relative;  
  color:black;
  font-weight: bolder;
  font-family: sans-serif;
}
h1 #welcome Section{
    font-weight: 1000;
    color: rgb(15, 15, 15);
    margin: 20px ;
    width: 100%;
    height: 400px;
    position: center;
}
p{
    text-align: end;
    color: cornflowerblue;

}

footer{
     padding: 120px;
     text-align:center ;
     font-weight: bolder; float: left;
}

img{
    padding-top: 10px;
    border-radius: 45px;
    width: 35%;
    float: left;
    text-align: left;
}